body{
    box-sizing: border-box;
}
div{  
    font-size: 2vw;
    background-color: lightblue;
    padding-left: 15%;
    padding-right: 15%;
}
img{
    height: 400px;
    max-width: 100%;
    border-radius: 3cm;
}
p{
    text-align: justify;  
}
h2{
    text-align: right;
    background-color: lightgrey;
    
}
#return{
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(10, 54, 10);
}